# API
NEXT_PUBLIC_API_URL=http://localhost:7010/api
NEXT_PUBLIC_APP_NAME="Pantum Coupon System"

# SEO / Production
NEXT_PUBLIC_BASE_URL=https://coupon.pantum.in.th

# Google Analytics (optional)
NEXT_PUBLIC_GA_ID=G-5HV0QCTMDL
